@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300';
.header {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
  width: 100%;
  height: 100%;
}

/*navigation bar*/
.navbar {
  background:rgba(191, 191, 191, 0.8);
  height: 55px;
  border-style: none;
}
.navbar-inverse .navbar-nav li a {
  font-family: 'Open Sans', sans-serif;
  color:#fff;
  font-size: 20px;
  padding-top: 20px;
}
.navbar-inverse .navbar-nav li a:hover {
  font-family: 'Open Sans', sans-serif;
  color:#000;
  background-color: #fff;
  -webkit-transition-duration: 0.8s; 
  transition-duration: 0.8s;
  outline: none;
  border-radius: 20px;
}
.navbar-inverse .navbar-brand {
  color:#fff;
  font-size: 20px;
  position: fixed;
  top:  -20px;
}

.caption {
  width:100%;
  bottom: 65px;
  position: relative;
  height: 65px;
  background:rgba(191, 191, 191, 0.8);
}
.caption h4 {
  font-size: 20px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  position: relative;
  top: 15px;
  padding-right: 20px;
}
